*{
    box-sizing: border-box;
    outline: 1px solid blueviolet;
  }
  html {
    font: system-ui, sans-serif;
    font-style: italic;
  }
  
  body {
     padding: 0;
     margin: 0 auto;
  }
  
  header{
    padding: 2ypx 0;
    text-align: center;
    background-color: beige;
    color: white;
    max-width: 40px;
  }
  
  nav {
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  nav > a {
    color: white;
  }
  main{
    max-width: 80px;
    margin: 0 auto;
  }
  #vis{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  }